body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #F9F9F9;
  display: flex;
  height: 100vh;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  width: 100%;
}

.sideBar {
  height: 100vh; 
  width: 12rem; 
  background-color: #FFDC9C; 
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: fixed;
}

.logoClass img {
  height: 3.5rem;
  display: inline-flex;
  margin: 0 0 2rem 1rem;
}

.profileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 0 2rem 0;
}

.imgClass {
  background-color: grey;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.welcome, .userName {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

.welcome {
  margin: 1rem 0 0 0;
}

.userName {
  margin: 0 0 1rem 0;
}

.sidebarFunctions {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.sidebarFunctions button {
  display: flex;
  align-items: center;
  background-color: #FFDC9C;
  border: none;
  padding: 0.2rem 1rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  gap: 0.5rem;
}

.sidebarFunctions button i {
  font-size: 1.5rem;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 12rem); 
  margin: 0 0 0 18rem; 
  box-sizing: border-box; 
}

.reportTitleContainer {
  display: flex;
  justify-content: left; 
  margin: 2rem 0 0 0;
}

.reportTitle {
  color: #22668D;
  font-size: 1.5rem;
}

.reportHistoCards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 90%;
  align-items: center; 
}

.card {
  width: 80%; 
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.petCategory {
  font-size: 1.8rem;
  font-weight: 800;
  color: #22668D;
  margin: 0;
}

.incidentStatus {
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  font-size: 1.05rem;
  font-weight: 600;
  color: white;
}

.pending {
  background: #1E7455;
}

.resolved {
  background: #C1373A;
}

.incidentType {
  font-size: 1rem;
  color: white;
  font-weight: 600;
  margin: 0.5rem;
  text-align: center;
}

.bite {
  background: #800080;
  width: 5rem;
  border-radius: 1rem;
}

.lost {
  background: #660033;
  width: 5rem;
  border-radius: 1rem;
}

.injury {
  background: #FFA500;
  width: 5rem;
  border-radius: 1rem;
}

.floatingBtnClass {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
}

.floatingBtn {
  background-color: #22668D;
  border: none;
  border-radius: 0.5rem;
  padding: 0.4rem 0.5rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.floatingBtn i {
  font-size: 1.5rem;
  color: white;
}
