/* General Reset */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #F9F9F9;
    display: flex;
    height: 100vh;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    width: 100%;
}

.sideBar {
    height: 100vh; 
    width: 12rem; 
    background-color: #FFDC9C; 
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.logoClass img {
    height: 3.5rem;
    display: inline-flex;
    margin: 0 0 2rem 1rem;
}

.profileContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 0 2rem 0;
}

.imgClass {
    background-color: grey;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.welcome, .userName {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
}

.welcome {
    margin: 1rem 0 0 0;
}

.userName {
    margin: 0 0 1rem 0;
}

.sidebarFunctions {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.sidebarFunctions button {
    display: flex;
    align-items: center;
    background-color: #FFDC9C;
    border: none;
    padding: 0.2rem 1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    cursor: pointer;
    gap: 0.5rem;;
}

.sidebarFunctions button i {
    font-size: 1.5rem;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

.ptsClass {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ptsContent {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ptsContent img {
    height: 6rem;
}

.ptsTally {
    font-size: 2rem;
    font-weight: 700;
    color: #22668D;
}

.pts {
    font-size: 1.2rem;
    color: #22668D;
    font-weight: 600;
}

.convertBtn {
    background-color: #22668D;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

.convertBtn i {
    font-size: 1.2rem;
}


.latestSection {
    flex-direction: column;
    gap: 1rem;
}

.latestTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -1.2rem 0 0 0;
}

.latestTitle h2{
    font-size: 1.5rem;
    color: #22668D;
    font-weight: 800;
}

.latestTitle button {
    background-color: #F9F9F9;
    border: none;
    font-size: 1.2rem;
    color: #22668D;
    font-weight: 600;
    cursor: pointer;
}

.latestCards {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 1rem;
}

.overlayContent {
    display: inline-block;
    gap: 2rem;
    overflow-x: auto;
    padding-bottom: 1rem;
    align-content: center;
    
}

.card {
    min-width: 18rem;
    background: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
}

.userProfile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.cardContent .userName {
    font-weight: 700;
    color: #22668D;
    font-size: 0.9rem;
}

.cardContent p {
    font-size: 1rem;
    color: #333;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlayContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
}

.overlayContent .card {
    margin-bottom: 1rem;
}

.closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 10px;
    background: #E24848;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.titleSection {
    display: flex;
    justify-content: space-between;
    margin: -1.2rem 24rem 0 0;
}

.titleSection h2 {
    font-size: 1.5rem;
    color: #22668D;
    font-weight: 800;
}

.galleryArticleSec {
    display: flex;
    justify-content: space-between;
}

.gallerySection {
    background-color: white;
    width: 30rem;
    height: 12rem;
    border-radius: 1.2rem;
    margin: -2.2rem 0 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallerySection img {
    width: 15rem;
    align-items: center;
    margin: -1rem -2rem 0 0;
}

.articleSection {
    background-color: white;
    width: 30rem;
    height: 12rem;
    border-radius: 1.2rem;
    margin: -2.2rem 0 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

